<footer class="site-footer">
  <div class="wrapper">
    <!-- disquss -->

    <!-- disquss -->

    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <div align="center">
      {% if page.keywords %}
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }} {% endif %}
      </p>
    </div>

    <h2 class="footer-heading" align="center">{{ site.title }}</h2>
    <p align="center">
      Opensource project with codes on
      <a href="https://github.com/webmakaka/jsdev.org" rel="nofollow">github</a
      >.
    </p>

    <p align="center">
      <strong>Telegram group: jsdev_org</strong>
    </p>
  </div>
</footer>
