<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/chat/">Chat</a> |
        <a class="page-link" href="//labs.jsdev.org/"><strong>Labs</strong></a>
        |
        <a class="page-link" href="{{ site.baseurl }}/devops/containers/"
          >Containers</a
        >
        |
        <a class="page-link" href="{{ site.baseurl }}/examples/"
          >Code Examples</a
        >
        |
        <a
          class="page-link"
          href="https://labs.jsdev.org/top-video-courses-for-study-js/"
          >Video Courses</a
        >
        | <a class="page-link" href="{{ site.baseurl }}/sitemap/">SiteMap</a>
      </div>
    </nav>
  </div>
</header>
