<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/chat/">Chat</a> | <a class="page-link"
          href="//labs.jsdev.org/"><strong>Labs</strong></a> | <a class="page-link"
          href="//labs.jsdev.org/web-developer-roadmap-2019/">Web Developer Roadmap 2019</a> | <a class="page-link"
          href="{{ site.baseurl }}/src/">Open Source Projects</a> | <a class="page-link"
          href="{{ site.baseurl }}/must-have/">Most Interesting Video Courses</a> | <a class="page-link"
          href="{{ site.baseurl }}/sitemap/">SiteMap</a>
      </div>
    </nav>

  </div>

</header>